@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  color: #000;
  @include null-margin-padding;
}
