header.header-container
  div.logo
    img(src="../../assets/images/logo.png" alt="logo")
  div.menu-burger
    img(src="../../assets/images/burger-menu.png" alt="burger-menu")
  nav
    ul.main-menu
      li.menu-link
        a Каталог товаров
      li.menu-link
        a Доставка и оплата
      li.menu-link
        a Цены
      li.menu-link
        a Контакты
  div.additional-info
    a.phone(href="tel:+78125092198") +7 (812)
      b  509 21 98
    a.recall(href="#") Перезвоните мне
    div.social-networks
      a.icon(href="#")
        div.vk
      a.icon(href="#")
        div.tg
      a.icon(href="#")
        div.inst
      a.icon(href="#")
        div.whtsp
    div.interface
      a.icon(href="#")
        div.search
      a.icon(href="#")
        div.like
      a.icon(href="#")
        div.cart
          div.in-cart 10


